*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* =================
   Typography 
   ================= */

h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
h1 + p{
    color: #80A04F;
    font-size: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}
h2{
    font-size: 1.3125em;
    margin: 0;
}
h2 + p{
    color: #80A04F;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.br-p{
    margin-top: 0;
}

.top-text{
    font-size: .625rem;
    font-weight: 900;
    margin:0 ;
    padding-top: 2px;
    color: #80A04F;
    text-transform: uppercase;
    letter-spacing: 1px;
    order: -1;
    border-top: 5px solid #80A04F;
    border-image: linear-gradient(to left, #5a7a25, #9df215) 1;
}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}
strong{
    font-family: 900;
}
/* =================
   Intro Section 
   ================= */
.intro{
    background-image: url(light-pizza.jpg);
    background-size: cover;
    background-color: #404040;
    background-blend-mode: multiply;
    background-position: center;
    padding: 0 .25em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.intro > *,
.main-content > *{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* =================
   Main Content
   ================= */
.main-content{
    padding: 2em 1em;
}


/* =================
   Form
   ================= */
.email-collector{
    width: 80%;
    max-width: 300px;
}

input,
.btn{
    width: 100%;
    border-radius: 5px;
}
input{
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    padding: 0.25em 0;
    border: #404040 1px solid;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus{
    transform: scale(1.04);
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(to left,#5a7a25, #9df215);
    color: white;
    transform: scale(1);
    transition: transform 250ms;
   
}
.btn-primary:hover,
.btn-primary:focus{
   
    transform: scale(1.04);
}

/* =================
   Media Querry
   ================= */

@media (min-width: 530px){
 body{
     font-size: 1.125rem;
     display: flex;
 }
 h1{
     font-size: 3.5rem;
 }
 h2,
 h1 + p{
    font-size: 1.75rem;
 }
 .intro,
 .main-content{
     width: 50%;
     min-height: 100vh;
 }
 .main-content{
     display: flex;
     flex-direction: column;
     justify-content : center ;
 }
}
